fastapi==0.116.1
sqlalchemy>=2.0.0
psycopg[binary]>=3.1.0
uvicorn[standard]==0.35.0
python-multipart==0.0.20

python-dotenv==1.1.1
pydantic[email]==2.11.7
pydantic-settings==2.10.1

PyMuPDF==1.26.3
python-docx==1.2.0
Pillow==11.3.0

numpy<2.0
opencv-python-headless==4.8.1.78
easyocr==1.7.2

transformers==4.48.3
torch>=2.0.0
accelerate>=1.8.0
sentencepiece>=0.2.0
safetensors>=0.5.3

langdetect
fasttext-wheel
huggingface-hub

python-jose[cryptography]
passlib[bcrypt]
bcrypt==4.3.0
httpx
tqdm
resend
sentence-transformers
slowapi==0.1.9
fpdf2>=2.7.0